@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="px-5 py-5 mt-5 text-center">
        <div class="container-fluid mx-auto py-5 my-4 egshell rounded">
            <h1 class="display-4">Prime Hulix Video</h1>
        </div>
    </div>
    
    <h4>This websie emulates IMDb. It analyzes sentiment from Wikipedia to determine ratings.</h4>

</div>
