@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Marvelous Movies</h1>
    <p>This websie emulates IMDb. It analyzes sentiment from Wikipedia to determine ratings.</p>
</div>
